<!--Inicio do conteudo administrativo-->
            <div class="wrapper">
                <div class="row">
                    <div class="top-list">
                    <span class="title-content">Editar Senha</span>
                    <div class="top-list-right">
                        
                        <a href="/profile" class="btn-primary">Visualizar</a>
                        

                    </div>
                </div>
                <!--Imprimir mensagens que estão na sessão-->
                {{>_msgAdm}}
                    <div class="content-adm">
                    <!-- Formulário cadastrar novo usuário -->
                   <form class="form-adm" action="/profile/edit-password" method="post">

                        <input type="hidden" name="id" id="id"  value="{{data.id}}">

                        <div class="row-input">
                            <div class="column">
                                <label class="title-input">Senha:<span class="text-danger">*</span></label>
                                <input type="password" name="password" id="password" class="input-adm" placeholder="digite a senha" value="{{data.name}}">
                            </div>
                        </div>
                       

                   
                        <p class="text-danger mb-5 fs-4">* Campo Obrigatório</p>
                <input type="submit" class="btn-warning" value="Editar">
            </form>        
        </div>
    </div>
</div>
            <!--Fim do conteudo administrativo-->