    <section class="about">
            <div class="max-width">
                <h2 class="title">Sobre Empresa</h2>
                
                {{#each aboutsCompanies}}
                <div class="about-content">
                    <div class="column left">
                        <img src="{{imageAboutsCompanies}}" alt="{{titleAboutsCompanies}}">
                    </div>
                    <div class="column right">
                        <div class="text">
                            {{titleAboutsCompanies}} 
                            </div>
                        <p>{{descAboutsCompanies}} </p>
                    </div>
                </div>
                {{/each}}

            </div>    
        </section>