<nav class="navbar">
            <div class="max-width">
                <div class="logo">
                    <a href="/">Eco-Eletrica</a>
                </div>
                <ul class="menu" id="menu-site">
                    <li><a href="/">Home</a></li>
                    <li><a href="/sobre">Sobre Empresa</a></li>
                    <li><a href="/contato">Contato</a></li>

                </ul>
                <div class="menu-btn" id="menu-btn">
                    <i class="fa-solid fa-bars-staggered" id="menu-icon"></i>
                </div>
            </div>
        </nav>
