                        <!-- Verificar se existe valor na variável global success_msg-->
                        {{#if success_msg }}
                        <!--Imprimir o valor da variavel global success_msg-->
                        <p class="alert-success">{{{success_msg}}}</p>
                        {{/if}}

                        <!-- Verificar se existe valor na variável global danger_msg-->
                        {{#if danger_msg }}
                        <!--Imprimir o valor da variavel global success_msg-->
                        <p class="alert-danger">{{{danger_msg}}}</p>
                        {{/if}}