<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="shortcut icon" href="/images/icon/eco2.ico">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <title>Eco - Home</title>
        
    </head>

    <body>

        <!--Carregar o menu-->
        {{>_menu}}

        <!-- Carregar o conteudo da pagina -->

        {{{ body }}}

        <!--Carregar o rodapé-->
        {{>_footer}}

        <script src="/js/custom.js"></script>

    </body>

    </html>