<!--INICIO DA SIDEBAR-->
  <div class="sidebar">
      <a href="/dashboard" class="sidebar-nav {{#if sidebarDashboard }}active {{/if}}"><i class="icon fa-solid fa-house fa-bounce" style="color: #13c91f;"></i><span>Dashboard</span></a>

      <a href="/users?page=1" class="sidebar-nav {{#if sidebarUsers }}active {{/if}}"><i class="icon fa-solid fa-users-line" style="color: #13c91f;"></i><span>Usuários</span></a>

      <a href="/situations?page=1" class="sidebar-nav {{#if sidebarSituations }}active {{/if}}"><i class="icon fa-solid fa-user-pen" style="color: #13c91f;"></i><span>Situações</span></a>

      <a href="/home-site" class="sidebar-nav {{#if sidebarHomeSite }}active {{/if}}"><i class="icon fa-solid fa-laptop-file" style="color: #13c91f;"></i><span>Home Site</span></a>

      <a href="/situations-abouts-site?page=1" class="sidebar-nav {{#if sidebarSituationsAbouts }}active {{/if}}"><i class="icon fa-solid fa-user-check" style="color: #13c91f;"></i><span>Situações Sobre</span></a>

      <a href="/abouts-companies-site?page=1" class="sidebar-nav {{#if sidebarAboutsSite }}active {{/if}}"><i class="icon fa-solid fa-building" style="color: #13c91f;"></i><span>Sobre</span></a>

      <a href="/contact-site" class="sidebar-nav {{#if sidebarContactSite }}active {{/if}}"><i class="icon fa-solid fa-phone" style="color: #13c91f;"></i><span>Contato</span></a>

      <a href="/contacts-msgs?page=1" class="sidebar-nav {{#if sidebarContactsMsgs }}active {{/if}}"><i class="icon fa-solid fa-envelope-open-text" style="color: #13c91f;"></i><span>Mensagens</span></a>

      <a href="/footer-site" class="sidebar-nav {{#if sidebarFooterSite }}active {{/if}}"><i class="icon fa-solid fa-shoe-prints" style="color: #13c91f;"></i><span>Rodapé</span></a>

      <a href="/login/logout" class="sidebar-nav"><i class="icon fa-solid fa-right-from-bracket" style="color: #13c91f;"></i><span>Sair</span></a>
     


  </div>
  <!--FIM DA SIDEBAR-->